<p id="notice"><%= notice %></p>

<h1>Messages</h1>
<hr>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>From</th>
     
      <th>Preview</th>
      <th>Walk</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <p>Inbox</p>
    <% @messages.each do |message| %>

    <% if message.recipient_id == current_user.id %>
    
    
      <tr>
        <td><%= message.sender.username %></td>
       
        <td><%= message.content %></td>
        <td><%= message.walk_id %></td>
        <td><%= link_to 'Show', message %></td>
        <td><%#= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
    
    </tr>    
    <% end %>
      
    <% end %>
  </tbody>
</table>


<table class="table table-bordered">
  <thead>
    <tr>
      <hr>
      <th>Recipient</th>
      <th>Preview</th>
      <th>Walk</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <p>Sent</p>
    <% @messages.each do |message| %>

    <% if message.sender_id == current_user.id %>
    
    
      <tr>
        
        <td><%= message.recipient.username %></td>
        <td><%= message.content %></td>
        <td><%= message.walk_id %></td>
        <td><%= link_to 'Open', message %></td>
        <td><%#= link_to 'Edit', edit_message_path(message) %></td>
        <td><%= link_to 'Delete', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
    
    </tr>    
    <% end %>
      
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
