

<h1>Dogs on the WalkChain</h1>
<% @dogs.each do |pups| %>
<div class="row">
  <div class="card bg-light border-primary mb-3 col-md-6 offset-md-3">
  
     <div class="card-body">
  
  <img src="<%=pups.image%>" class="card-img-top" alt="...">
 
    <h5 class="card-title"><%= pups.name  %></h5>
    <p class="card-text"><%= pups.about %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Size: <%= pups.size%></li>
    <li class="list-group-item">Walks on the WalkChain: <%= pups.walks_count %></li>
    <li class="list-group-item">Neighborhood: <%= pups.neighborhood %></li>
    <li class="list-group-item">Owner: <%= pups.owner.username %>
  </ul>
  <div class="card-body">
    <%= link_to 'View ' + pups.name + "'s" + ' schedule' , dog_path(pups.id) %>
    <%# <a href="#" class="card-link">Card link</a> %>
    <%#= link_to 'Remove ' + pups.name + ' from Chi-Doggo?', dog_path(pups.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <%# <a href="#" class="card-link">Another link</a> %>
  </div>
</div>
  
</div>
  <% end %>


<br>

<%= link_to 'New Dog', new_dog_path %>
