<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dog.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @dog.size %>
</p>

<p>
  <strong>About:</strong>
  <%= @dog.about %>
</p>

<p>
  <strong>Image:</strong>
  <%= @dog.image %>
</p>

<%#= x = User.where(:id => :owner_id).at(0) %>
<p>
  <strong>Owner:</strong>
  <%= @dog.owner.username %>
</p>

<p>
  <strong>Sunday morning:</strong>
  <%= @dog.sunday_morning %>
</p>

<p>
  <strong>Sunday afternoon:</strong>
  <%= @dog.sunday_afternoon %>
</p>

<p>
  <strong>Sunday night:</strong>
  <%= @dog.sunday_night %>
</p>

<p>
  <strong>Monday morning:</strong>
  <%= @dog.monday_morning %>
</p>

<p>
  <strong>Monday afternoon:</strong>
  <%= @dog.monday_afternoon %>
</p>

<p>
  <strong>Monday night:</strong>
  <%= @dog.monday_night %>
</p>

<p>
  <strong>Tuesday morning:</strong>
  <%= @dog.tuesday_morning %>
</p>

<p>
  <strong>Tuesday afternoon:</strong>
  <%= @dog.tuesday_afternoon %>
</p>

<p>
  <strong>Tuesday night:</strong>
  <%= @dog.tuesday_night %>
</p>

<p>
  <strong>Wednesday morning:</strong>
  <%= @dog.wednesday_morning %>
</p>

<p>
  <strong>Wednesday afternoon:</strong>
  <%= @dog.wednesday_afternoon %>
</p>

<p>
  <strong>Wednesday night:</strong>
  <%= @dog.wednesday_night %>
</p>

<p>
  <strong>Thursday morning:</strong>
  <%= @dog.thursday_morning %>
</p>

<p>
  <strong>Thursday afternoon:</strong>
  <%= @dog.thursday_afternoon %>
</p>

<p>
  <strong>Thursday night:</strong>
  <%= @dog.thursday_night %>
</p>

<p>
  <strong>Friday morning:</strong>
  <%= @dog.friday_morning %>
</p>

<p>
  <strong>Friday afternoon:</strong>
  <%= @dog.friday_afternoon %>
</p>

<p>
  <strong>Friday night:</strong>
  <%= @dog.friday_night %>
</p>

<p>
  <strong>Saturday morning:</strong>
  <%= @dog.saturday_morning %>
</p>

<p>
  <strong>Saturday afternoon:</strong>
  <%= @dog.saturday_afternoon %>
</p>

<p>
  <strong>Saturday night:</strong>
  <%= @dog.saturday_night %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @dog.neighborhood %>
</p>

<p>
  <strong>Walks count:</strong>
  <%= @dog.walks_count %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog) %> |
<%= link_to 'Back', dogs_path %>
