<%= form_with(model: walk) do |form| %>
  <% if walk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(walk.errors.count, "error") %> prohibited this walk from being saved:</h2>

      <ul>
        <% walk.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :dog_id %>
  <%= form.collection_select :dog_id, Dog.order(:name), :id, :name, include_blank: "Choose a dog!" %>






    <%= form.hidden_field :walker_id, value: current_user.id %>

  <div class="field">
    <%= form.label :pending %>
    <%= form.radio_button :status, "pending" %>
    <%= form.label :accepted %>
    <%= form.radio_button :status, "accepted" %>
    <%= form.label :rejected %>
    <%= form.radio_button :status, "rejected" %>
    <%= form.label :completed %>
    <%= form.radio_button :status, "completed" %>
    
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
