<p id="notice"><%= notice %></p>

<h1>Walks</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Dog</th>
      <th>Walker</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <h4><%= current_user.username%>'s Scheduled Walks</h4>
    <% @walks.each do |walk| %>

    <% if walk.walker_id == current_user.id %>
      <tr>
        <td><%= walk.dog.name %></td>
        <td><%= walk.walker.username %></td>
        <td><%= walk.status %></td>
        
        <td><%= link_to 'Update Walk Status', edit_walk_path(walk) %></td>
        <td><%= link_to 'Delete', walk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<hr>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Dog</th>
      <th>Walker</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <h4><%= current_user.username%>'s Dogs Walks</h4>
    <% @walks.each do |walk| %>

    <% if walk.dog.owner_id == current_user.id %>
      <tr>
        <td><%= walk.dog.name %></td>
        <td><%= walk.walker.username %></td>
        <td><%= walk.status %></td>
       
        <td><%= link_to 'Update Walk Status', edit_walk_path(walk) %></td>
        <td><%= link_to 'Delete', walk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Walk', new_walk_path %>
