<p id="notice"><%= notice %></p>

<p>
  <strong>Dog:</strong>
  <%= @walk.dog.name %>
</p>

<p>
  <strong>Walker:</strong>
  <%= @walk.walker.username %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @walk.completed? %>
  <%#= @walk.status? %>
</p>

<%= link_to 'Edit', edit_walk_path(@walk) %> |
<%= link_to 'Back', walks_path %>
